:root {
  --color-violeta: #572364;
  --color-naranja: #feb834;
  --color-negro: #222;
  --color-blanco: #fff;
  --color-verde: #b6da8a;
  --color-rojo: #f46460;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

dialog {
  position: fixed; /* Posiciona el diálogo de forma fija en la ventana */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 320px;
  max-width: 600px;
  padding: 1rem;
  border: none;
}

dialog {
  animation: fade-out 0.7s ease-out;
}

dialog > button {
  position: absolute;
  right: calc(1rem - 4px);
  border: none;
  background-color: var(--color-blanco);
  cursor: pointer;
}
dialog > button i {
  font-size: 1.5rem;
  color: var(--color-violeta);
}

dialog h2 {
  color: var(--color-violeta);
}

dialog:open {
  animation: fade-in 0.7s ease-out;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

dialog:open::backdrop {
  background-color: #111;
  backdrop-filter: blur(2px);
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

.container-info-tarea p:first-child{
  padding-top: 1rem;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: var(--color-negro);
  color: var(--color-negro);
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.flex-columna {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

body .container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "aside"
    "main";
}

@media screen and (min-width: 768px) {
  body .container {
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside main";
  }
}
@media screen and (min-width: 1024px) {
  body .container {
    grid-template-columns: 300px 1fr;
  }
}

.aside {
  background-color: var(--color-violeta);
  grid-area: aside;
  color: var(--color-blanco);
}

main {
  background-color: var(--color-blanco);
  color: var(--color-negro);
  grid-area: main;
}

/* ASIDE */
.aside {
  padding: 1rem;
}

.aside div {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside ul {
  padding-bottom: 0.5rem;
}

.aside li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside button {
  display: inline-block;
  background-color: var(--color-violeta);
  border: none;
  padding: 0.5rem;
  padding-right: 0;
  cursor: pointer;
}

.aside i {
  color: var(--color-blanco);
  font-size: 1.25rem;
}

.fa-trash:hover {
  color: var(--color-rojo);
}

.fa-plus:hover {
  color: var(--color-verde);
}
.fa-pen-to-square:hover {
  color: var(--color-verde);
}
.fa-eye:hover {
  color: var(--color-negro);
}
/* ASIDE */

/* MAIN */
main {
  padding: 1rem;
}
.main-header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.main-header h2 {
  color: var(--color-violeta);
}
.main-header button {
  display: inline-block;
  background-color: var(--color-blanco);
  border: none;
  cursor: pointer;
}

.main-header i {
  color: var(--color-violeta);
  font-size: 1.25rem;
}
.main-divisor {
  border-color: var(--color-violeta);
}

.main-content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content h3 {
  color: var(--color-violeta);
}

.main-content button,
.main-table {
  display: inline-block;
  background-color: var(--color-blanco);
  border: none;
  cursor: pointer;
}

.main-content i {
  color: var(--color-violeta);
  font-size: 1.25rem;
}
/*
.main-table tr {
    display: grid;
    grid-template-columns: 20px 1fr 50px 90px 25px 25px;
    gap: .5rem;
    justify-items: center;
    align-items: center;
}
    */
.main-table tr {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.main-table .tarea-titulo {
  flex: 1;
}
/* MAIN */

/* FORMULARIO MODAL CREAR Y EDITAR PROYECTO */

.form-modal input {
  padding: 0.5rem;
}

.form-modal button {
  display: inline-block;
  padding: 0.75rem;
  font-weight: bold;
  border: none;
  border: transparent thin solid;
  color: var(--color-blanco);
  background-color: var(--color-violeta);
  cursor: pointer;
}
.form-modal button:hover {
  color: var(--color-violeta);
  background-color: var(--color-blanco);
  border: var(--color-violeta) thin solid;
}
/* FORMULARIO MODAL CREAR Y EDITAR PROYECTO */


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.75;
  }
}
